/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require material_icons
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Baloo Tamma', cursive;
  background: url(/assets/background.jpeg) no-repeat center center fixed;
}

.navigation {
  width: 100%;
  background-color: #C94316;
  margin: 0;
  padding: 0;
  height: 80px;
  position: fixed;
}

.navigation a {
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    margin: 20px;
}

.logo img {
  width:30px;
  height:auto;
  margin: 10px;
  margin-left: 20px;
  -webkit-filter: invert(100%);
}

.logo a {
  margin: 5px;
  margin-left: 20px;
  float: left;
}

