// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-teal: #8FC79B;
$pirmary-brown: #C99516;
$primary-orange: #C94316;
$primary-red: #C91616;
$primary-purple: #210B21;

.title {
  margin-top: 10%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px $primary-orange;
}

.list_title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px $primary-orange;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: $primary-orange;
  border: 5px;
  border-style: dotted;
  border-color: $primary-orange;
  margin-bottom: 5%;
  padding: 1%;
  border-radius: 50px;
}

.game_list_container {
  border: 5px;
  border-style: dotted;
  border-color: $primary-orange;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  // background-image: url("/assets/rails.png");
  background-size: cover;
  background-position: center center;
  background-color: white;
  height: 150px;
  display: flex;
  padding: 3%;
  color: $primary-orange;
}

.comment_list_container {
  display: flex;
  flex-direction: column;
}

.vote_container {
  flex: 1;
}

.vote_container p {
  padding-left: 10px;
}

.vote_container button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.game_content_container {
  flex: 10;
}

.game_content_container a {
  color: $primary-red;
}

.each_comment_container {
  display: flex;
  padding-bottom: 20px;
}

.comment_container {
  flex: 10;
  border-radius: 10px;
}

.comment p {
  margin: 0;
}

.up {
  background:none;
  background-image: url("/assets/up.png");
  font-size:1em;
  color:blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  width: 34px;
  height: 30px;
}

.down {
  background:none;
  background-image: url("/assets/up.png");
  font-size:1em;
  color:blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  width: 34px;
  height: 30px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.comment_container {
  background-color: white;
  padding: 15px;
  box-shadow: 0 15px 15px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11);
  margin-bottom: 20px;
}

#comment_content {
  width: 80%;
  height: 100px;
  vertical-align: middle;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.submit_btn {
  border: none;
  background: none;
  background-color: $primary-teal;
  color: white;
  border-radius: 5px;
  margin: 40px;
  position: relative;
  left: 80%;
}


