add new game to library here
<div>
  <!-- new game search container -->
  <div>
    <!-- search bar container -->
    <div>
      <!-- search bar goes here -->
    </div>
  </div>
  <div>
    <!-- game list container -->
    <div>
      <!-- each game list goes here -->
    </div>
  </div>
  <div>
    <!-- button container -->
    <div>
      <!-- cancel -->
    </div>
    <div>
      <!-- add -->
    </div>
  </div>
</div>
