<h1>All Users</h1>
<ul>
	<% @users.each do |user| %>
		<li> <%= link_to user.username, user_path(user) %> </li>

		<% if user_signed_in? && !@user.friends.include?(user) && @user != user %>
			<%= form_for(@relationship, url: user_relationships_path(@user)) do |f| %>
				<%= f.hidden_field :friend_id, :value => user.id %>
				<%= f.submit "Add Friend" %>
			<% end %>
		<% end %>

	<% end %>
</ul>