user show pages
<div>
  <!-- user games list container -->
  <div>
    <!-- list container -->
    <div>
      <!-- each list item goes here -->
    </div>
  </div>
  <div>
    <!-- add here -->
  </div>
  <div>
    <!-- delete game here -->
  </div>
  <div>
    <!-- friend div button -->
  </div>
</div>
